/* src/App.css */
body {
  margin: 0;
  /* As fontes e cores de fundo serão melhor controladas pelo Materialize ou por classes */
  /* Ou podemos manter a cor de fundo #2b1f41 se o Materialize não sobrepor */
  background-color: #080213; /* Mantém a cor de fundo principal */
  color: #ff0000; /* Garante que o texto padrão seja branco para contraste */
  font-family: Roboto, sans-serif; /* Materialize geralmente usa Roboto, podemos forçar aqui */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Remova as regras .App-logo, .App-header, etc., se não for usá-las */
/* E deixe .App apenas como um contêiner se necessário */
.App {
  text-align: center;
}

/* Outros estilos globais podem ir aqui */